#headBox {position:fixed; z-index:1000; top:0; left:0; width: 100%; height: 40px; box-sizing:border-box; background-color: #fff;
   .head_wrap {width: 90%; min-width: 960px; max-width: 1280px; height: 100%; margin:auto; position:relative;
      h1 {float:left; width: 20%; height: 100%;
         a {display: block; width: 100%; height: 100%; background-image: url("../../img/logo.png"); background-position: 50% 50%; background-repeat: no-repeat; background-size: 100%;}
         span {@include hidden;}
      }//h1
      #gnb {float:right; width: 60%; height: 100%;
         h2 {@include hidden;}
         .gnb_wrap {width: 100%; height: 100%;
            li {float:left; width: 30%; height: auto; margin-right:5%; text-align:center; font-weight: bold; font-size: 1.2rem; text-transform: capitalize; line-height: 40px;
            &:last-of-type {margin-right:0;}
               a {display: block; width: 100%; height: 100%; position:relative;}
               a:after,a::after {content:" "; display: block; width:0; height: 20%; border-right: 1px solid $black; position:absolute; top:50%; right:-10px; transform:translateY(-50%);}
            }//li    
            li:last-of-type a:after,li:last-of-type a::after {display:none;}
         }//.gnb_wrap
      }//#gnb
      .head_menu {float:right; width: 50px; height: 50px; background-color: $main; display:none; margin-right: 5rem;
         button {width: 100%; height: 100%; background-color: transparent;
            i {width: 100%; height: 100%; line-height: 50px; font-size:16px; color: $mainF; transition:all 300ms ease;}
         }
         &.action i {transform:rotate(360deg) translateY(5px); font-size: 1.5rem;}
      }//.head_menu

      .sub_menu {position:absolute; top: 300px; right: 0; width: 210px; height: auto; padding: 2rem 1rem; box-sizing:border-box; background-color: $main; display:none;
         button {display: block; width: 60px; height: 60px; margin:auto; background-color: transparent; font-size: $h4; color: $mainF;}
         ul {width: 100%; height: 50%;
            li {float:none; width: 100%; height: auto; margin-right:5%; text-align:center; font-weight: bold; font-size: 1.2rem; text-transform: capitalize; line-height: 80px;
            &:last-of-type {margin-right:0;}
               a {display: block; width: 100%; height: 100%; position:relative;
               &:hover,&:focus {color: $white;}
               }//a
               a:after,a::after {content:" "; display: block; width:10px; height: 0; border: 0; border-bottom:1px solid $black; position:absolute; top: auto; bottom:0; right:0; left:0; margin:auto; transform:translateY(-50%);}
            }//li    
            li:last-of-type a:after,li:last-of-type a::after {display:none;}
         }//ul
      }//.sub_menu
   }//.head_wrap
}//#headBox
