/* import scss part */
/* main.css */
#headBox { position: fixed; z-index: 1000; top: 0; left: 0; width: 100%; height: 40px; box-sizing: border-box; background-color: #fff; }

#headBox .head_wrap { width: 90%; min-width: 960px; max-width: 1280px; height: 100%; margin: auto; }

#headBox .head_wrap h1 { float: left; width: 20%; height: 100%; }

#headBox .head_wrap h1 a { display: block; width: 100%; height: 100%; background-image: url("../../img/logo.png"); background-position: 50% 50%; background-repeat: no-repeat; background-size: 100%; }

#headBox .head_wrap h1 span { display: block; width: 0; height: 0; overflow: hidden; }

#headBox .head_wrap #gnb { float: right; width: 60%; height: 100%; }

#headBox .head_wrap #gnb h2 { display: block; width: 0; height: 0; overflow: hidden; }

#headBox .head_wrap #gnb .gnb_wrap { width: 100%; height: 100%; }

#headBox .head_wrap #gnb .gnb_wrap li { float: left; width: 30%; height: auto; margin-right: 5%; text-align: center; font-weight: bold; font-size: 1.2rem; text-transform: capitalize; line-height: 40px; }

#headBox .head_wrap #gnb .gnb_wrap li:last-of-type { margin-right: 0; }

#headBox .head_wrap #gnb .gnb_wrap li a { display: block; width: 100%; height: 100%; position: relative; }

#headBox .head_wrap #gnb .gnb_wrap li a:after, #headBox .head_wrap #gnb .gnb_wrap li a::after { content: " "; display: block; width: 0; height: 20%; border-right: 1px solid #333; position: absolute; top: 50%; right: -10px; transform: translateY(-50%); }

#headBox .head_wrap #gnb .gnb_wrap li:last-of-type a:after, #headBox .head_wrap #gnb .gnb_wrap li:last-of-type a::after { display: none; }

#headBox .head_wrap .head_menu { float: right; width: 50px; height: 50px; background-color: #9be3de; display: none; margin-right: 5rem; }

#headBox .head_wrap .head_menu button { width: 100%; height: 100%; background-color: transparent; }

#headBox .head_wrap .head_menu button i { width: 100%; height: 100%; line-height: 50px; font-size: 16px; color: #464159; transition: all 300ms ease; }

#headBox .head_wrap .head_menu.action i { transform: rotate(360deg) translateY(5px); font-size: 1.5rem; }

#headBox .head_wrap .sub_menu { position: fixed; top: 50%; left: 50%; width: 80%; height: 80%; padding: 2rem; box-sizing: border-box; transform: translate(-50%, -50%); background-color: #fff; display: none; }

#headBox .head_wrap .sub_menu button { display: block; width: 60px; height: 60px; margin: auto; background-color: transparent; font-size: 2rem; color: #464159; }

#headBox .head_wrap .sub_menu ul { width: 100%; height: 50%; }

#headBox .head_wrap .sub_menu ul li { float: left; width: 30%; height: auto; margin-right: 5%; text-align: center; font-weight: bold; font-size: 1.2rem; text-transform: capitalize; line-height: 80px; }

#headBox .head_wrap .sub_menu ul li:last-of-type { margin-right: 0; }

#headBox .head_wrap .sub_menu ul li a { display: block; width: 100%; height: 100%; position: relative; }

#headBox .head_wrap .sub_menu ul li a:after, #headBox .head_wrap .sub_menu ul li a::after { content: " "; display: block; width: 0; height: 20%; border-right: 1px solid #333; position: absolute; top: 50%; right: -10px; transform: translateY(-50%); }

#headBox .head_wrap .sub_menu ul li:last-of-type a:after, #headBox .head_wrap .sub_menu ul li:last-of-type a::after { display: none; }

#conBox { width: 100%; height: auto; min-height: 100%; }

#conBox h2 { display: block; width: 0; height: 0; overflow: hidden; }

#conBox section { width: 100%; height: 90%; background-color: #333; }

#footBox { width: 100%; height: auto; padding: 2rem; box-sizing: border-box; background-color: #333; color: #fff; text-align: center; }

#footBox h2 { width: 30%; min-width: 12.5rem; height: auto; margin: auto; margin-bottom: 1.3rem; text-transform: uppercase; }

#footBox address { width: 30%; min-width: 12.5rem; height: auto; min-height: 50px; margin: auto; font-style: normal; font-size: 14px; }

#footBox address ul { margin-bottom: 1rem; }

#footBox address p { margin-bottom: 1rem; }

#footBox sub { line-height: 0.2; word-break: keep-all; }

#footBox .move_top { position: fixed; z-index: 800; bottom: 10%; right: 10%; transform: translate(50%, 50%); width: 60px; height: 60px; color: #464159; display: none; }

#footBox .move_top button { width: 100%; height: 100%; background-color: transparent; box-sizing: border-box; border: 1px solid #464159; transition: all 500ms ease; }

#footBox .move_top button p { display: block; width: 100%; height: 100%; text-align: center; font-size: 16px; line-height: 60px; text-transform: uppercase; color: #464159; }

#footBox .move_top button p span { display: block; width: 0; height: 0; overflow: hidden; }

#footBox .move_top button i { color: #464159; font-size: 32px; display: none; }

#footBox .move_top button.action { transform: rotate(-225deg); border: 0; background-color: #9be3de; color: #464159; box-shadow: 0.1rem -0.1rem 0.1rem #333; }

#footBox .move_top button.action p { display: none; }

#footBox .move_top button.action i { display: block; transform: rotate(225deg); }
