// main
/* import scss part */
@import "../_basic/var";
@import "../_basic/mixin";
@import "../_basic/etc";



/* main.css */


#headBox {position:fixed; top:0; left:0; width: 100%; height: 80px; box-sizing:border-box;
   .head_wrap {width: 90%; min-width: 960px; max-width: 1280px; height: 100%; margin:auto;
      h1 {float:left; width: 20%; height: 100%;}
      #gnb {float:right; width: 60%; height: 100%; background-color: #aaa;
         .gnb_wrap {width: 100%; height: 100%;
            li {float:left; width: 30%; margin-right:5%; text-align:center;
            &:last-of-type {margin-right:0;}
            }//li
         }//.gnb_wrap
      }//#gnb
      .head_menu {float:right; width: 50px; height: 50px; background-color: #0af; display:none; margin-right: 5rem;
         button {width: 100%; height: 100%; background-color: transparent;
            i {width: 100%; height: 100%; line-height: 50px; font-size:16px;}
         }
      }//.head_menu
   }//.head_wrap
}//#headBox



#viewBox {width: 100%; height: 100%; min-height: 56.25rem; padding: 5rem 2rem; box-sizing:border-box; background-color: rgba(0,0,0,0.5);
   h2 {@include hidden;}

}//#viewBox



#conBox {width: 100%; height: auto; min-height: 56.25rem; padding: 5rem 2rem; box-sizing:border-box; background-color: rgba(255,151,0,0.5); overflow:hidden;
   h2 {@include hidden;}
}


#footBox {width: 100%; height: 200px; padding: 2rem; box-sizing:border-box; background-color: #333; color: #fff; text-align:center;
   h2 {width: 30%; height: auto; margin:auto; margin-bottom: 1.3rem; text-transform:uppercase;}
   address {width: 30%; height: auto; min-height: 50px; margin:auto;font-style:normal; font-size: 14px; }//address
   p {
      span {@include hidden;}
   }//p
   .move_top {position:fixed; bottom: 10%; right: 10%; transform:translate(50%, 50%); width: 60px; height: 60px; color:#fff; display:none;
      button {width: 100%; height: 100%; background-color: transparent; box-sizing: border-box; border: 1px solid #fff; transition:all 500ms ease;
         p {display: block; width: 100%; height: 100%; text-align:center; font-size: 16px; line-height: 60px; text-transform: uppercase;
            span {@include hidden;}
         }
         i {color: #464159; font-size: 32px; display:none;}
      }//button
      button.action {transform: rotate(-225deg); border:0; background-color: #9be3de; color: #464159; box-shadow: 0.1rem -0.1rem 0.2rem #333;
         p {display:none;}
         i {display:block; transform: rotate(225deg);}
      }//button.action
   }//.move_top
}