// main
/* import scss part */
@import "../_basic/var";
@import "../_basic/mixin";
@import "../_basic/etc";



/* main.css */

@import "../_temp/headBox";


@import "../_temp/viewBox";




#conBox {width: 100%; height: auto; min-height: 100%; padding: 5rem 2rem; box-sizing:border-box; /* background:linear-gradient(174deg, #dff6f0,#46b3e6,#4d80e4,#2e279d,#333); */ background-color: $white; overflow:hidden;
   h2 {@include hidden;}
   .con_area {width: 100%; height: auto; min-height: 500px; padding: 3rem; box-sizing:border-box; margin:auto; margin-bottom: 2rem;
      h3 {width: 20%; min-width:9.375rem; margin:auto; margin-bottom: 2rem; text-align:center; font-size:$h4;}
   }//.con_area

   .web {
      ul {width: 100%; height: auto;
         li {width: 100%; height: 650px; margin-bottom: 2rem; position:relative;
            dl{width: 100%; height: 100%; @include clearfix;
               dt{float:right; width: 40%; height:100%; }//dt
               .img_area{float:left; width: 60%; height: 100%; position:relative;
                  img {position:absolute; top:0; right: 0; width: auto; height: 100%;}
               }//dd.img_area
               .text_area {position:absolute; top: 55%; left: 50%; width: 40%; height: 20%; background-color: $main;}
            }//dl
         }//li
         li:nth-of-type(2n) {
            dl {
               dt {float:left;}
               .img_area {float:right;
                  img {left:0;}
               }//dd.img_area
               .text_area {left:auto; right: 50%;}
         }//
      }
      }//ul
   }//.web

}//#conBox


@import "../_temp/_footBox";
